.contacts {
 &__score {
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;

  span {
   color: #2351ff;
  }
 }

 .card {
  margin-bottom: 30px;
 }

 .card-partner__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  &-name {
   cursor: pointer;
  }

  .arrow-up,
  .arrow-down {
   margin-left: 16px;
  }

  &-btn {
   .ant-btn {
    padding: 18px 30px;

    &.btn-cancel {
     padding: 17px 22px 20px;
     background-color: #22B564;

     & + .btn-cancel {
      margin-left: 20px;
      background-color: #fdf0fd;
     }
    }

    &.circle {
     padding: 16px 22px;
    }

    img {
     margin: 0;
    }
   }
  }
 }
}

.added-text {
 font-size: 18px;
 line-height: 24px;
 color: #a3a8bb;
}

.btn-status {
 &__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
 }
}
